<div class="text-center mb-5">
  <h1 class="h4 font-weight-bold"><%= @stage.name %></h1>
  <p class="mt-5">
    <img class="rounded" src=<%= "/stages/#{@stage.image}" %> alt="Stage" width="400px" height="200px">
  </p>
</div>
