<div class="text-center mb-5">
  <h1>ポケモン一覧</h1>
  <div class="row mt-5">
    <% @pokemons.each do |pokemon| %>
      <div class="col-xl-3 col-lg-4 col-md-6 border pt-5 pb-3">
        <p>
          <img class="rounded" src=<%= "/pokemons/#{pokemon.image}" %> alt="Pokemon" width="160px" height="160px">
        </p>
        <p><%= link_to pokemon.name, pokemon_path(pokemon), class: 'font-weight-bold h4' %></p>
      </div>
    <% end %>
  </div>
</div>
